body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  background: #1b2f43;
}

.isi4 {
  position: absolute;
  width: 115px;
  height: 28px;
  left: 1129px;
  top: 110px;

  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;

  color: #ffffff;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

header {
  width: 1550px;
  height: 130px;
  left: 0px;
  top: 0px;
  opacity: 100%;

  background: #12273c;
}
.calon1 {
  position: absolute;
  width: 206px;
  height: 71px;
  left: 836px;
  top: 203px;

  font-family: Rozha One;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 71px;
  /* identical to box height */

  display: flex;
  align-items: center;

  color: #ffffff;
}

.gariss {
  position: absolute;
  width: 158px;
  height: 0px;
  left: 827.5px;
  top: 220px;
  opacity: 80%;
  border: 2px solid #fac521;
  transition: 1s;
}

#kembali {
  position: absolute;
  width: 189px;
  height: 39.54px;
  left: 881px;
  top: 434px;
  color: #12273c;
  background: #ffffff;
  border-radius: 30px;

  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 25px;

  color: #000000;
}
#kembali:hover {
  background: rgb(151, 67, 67);
  color: #ffffff;
}

#vote {
  position: absolute;
  width: 282px;
  height: 59px;
  left: 1102px;
  top: 425px;

  font-family: Times New Roman;
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 49px;
  /* identical to box height */

  color: black;

  background: #fac521;
  border-radius: 30px;
}
.garisleng {
  position: absolute;
  width: 472.25px;
  height: 55.55px;
  left: 1049px;
  top: 543px;
}
#vote:hover {
  background: #12273c;
  color: #ffffff;
}

.fakultas {
  position: absolute;
  width: 355px;
  height: 25px;
  left: 1176px;
  top: 355px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 33px;
  display: flex;
  align-items: center;

  color: #ffffff;
}

.namaout1 {
  position: absolute;
  width: 610px;
  height: 102px;
  left: 903px;
  top: 263px;

  font-family: Rozha One;
  font-style: normal;
  font-weight: normal;
  font-size: 75px;
  line-height: 102px;
  display: flex;
  align-items: center;
  color: none;
  -webkit-text-fill-color: #1b2f43;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgba(250, 197, 33, 0.35);
  transition: 1s;
}

.gariss:hover {
  left: 770px;
  transition: 1s;
}
.nama {
  position: absolute;
  width: 610px;
  height: 102px;
  left: 903px;
  top: 243px;

  font-family: Rozha One;
  font-style: normal;
  font-weight: normal;
  font-size: 75px;
  line-height: 102px;
  display: flex;
  align-items: center;

  color: #fac521;
}
.visim {
  position: absolute;
  width: 463px;
  height: 251px;
  left: 953px;
  top: 678px;
  transition: 3s;
}

.isiv {
  position: absolute;
  width: 397px;
  height: 66px;
  left: 150px;
  top: 50px;

  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  transition: 3s;
  color: #ffffff;
}

.isiv:hover {
  font-size: 20px;
  width: 497px;
  height: 100px;
  left: 50px;
  transition: 3s;
}

.isim {
  position: absolute;
  width: 397px;
  height: 66px;
  left: 150px;
  top: 250px;

  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  transition: 3s;
  color: #ffffff;
}

.isim:hover {
  font-size: 20px;
  width: 497px;
  height: 100px;
  left: 50px;
  transition: 3s;
}

.proker {
  position: absolute;
  width: 410px;
  height: 71px;
  left: 520px;
  top: 1100px;

  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 67px;

  color: #ffffff;

  border: 3px solid #fac521;
  box-sizing: border-box;
}

.isiprok {
  position: absolute;
  width: 1300px;
  height: 173px;
  left: 14px;
  top: 1291px;
}

.judul3 {
  position: absolute;
  width: 324px;
  height: 42px;
  left: 1117px;
  top: 0px;

  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 45px;

  color: #fac521;
}

.isi3 {
  position: absolute;
  width: 289px;
  height: 88px;
  left: 1071px;
  top: 80px;
  text-align: justify;
  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  transition: 1s;
  color: #ffffff;
}

.isi3:hover {
  width: 319px;
  height: 98px;
  font-size: 15px;
  top: 60px;
  transition: 1s;
}
.isi2:hover {
  width: 319px;
  height: 98px;
  font-size: 15px;
  top: 60px;
  transition: 1s;
}
.isi1:hover {
  width: 319px;
  height: 98px;
  font-size: 15px;
  top: 60px;
  transition: 1s;
}

.garis3 {
  position: absolute;
  width: 230px;
  height: 0px;
  left: 1088px;
  top: 30px;
  opacity: 100%;
  border: 1px solid #ffffff;
}

.judul2 {
  position: absolute;
  width: 324px;
  height: 42px;
  left: 617px;
  top: 0px;

  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 45px;

  color: #fac521;
}

.isi2 {
  position: absolute;
  width: 289px;
  height: 88px;
  left: 594px;
  top: 80px;
  text-align: justify;
  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  transition: 1s;
  color: #ffffff;
}

.garis2 {
  position: absolute;
  width: 230px;
  height: 0px;
  left: 618px;
  top: 30px;
  opacity: 100%;
  border: 1px solid #ffffff;
}

.judul1 {
  position: absolute;
  width: 324px;
  height: 42px;
  left: 117px;
  top: 0px;

  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 45px;

  color: #fac521;
}

.isi1 {
  position: absolute;
  width: 289px;
  height: 88px;
  left: 94px;
  top: 80px;
  text-align: justify;
  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;
  transition: 1s;
  color: #ffffff;
}

.garis1 {
  position: absolute;
  width: 230px;
  height: 0px;
  left: 118px;
  top: 30px;
  opacity: 100%;
  border: 1px solid #ffffff;
}

.judulv {
  position: absolute;
  width: 73px;
  height: 42px;
  left: 320px;
  top: -30px;

  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 45px;

  color: #fac521;
}

.judulm {
  position: absolute;
  width: 73px;
  height: 42px;
  left: 320px;
  top: 170px;

  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 45px;

  color: #fac521;
}
.calon {
  position: relative;
  width: 300px;
  left: -780px;
  top: -50px;
  transition: 1s;
}

.calon:hover {
  left: -680px;
  width: 480px;
  transition: 1s;
}

.voting {
  position: absolute;
  width: 133px;
  height: 42px;
  left: 144px;
  top: 20px;
  transition: 0.3s;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 45px;
  color: #fac521;
}

.web2:hover {
  color: #fac521;
}

.web3:hover {
  color: white;
}

.icon,
tr,
a {
  font-size: 40px;
  padding-left: 10px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.icon,
tr,
a:hover {
  color: #fac521;
}

.kontak {
  position: absolute;
  width: 200px;
  height: 42px;
  left: 650px;
  top: 20px;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 45px;

  color: #fac521;
}

.web {
  position: absolute;
  width: 182px;
  height: 42px;
  left: 1324px;
  top: 55px;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 45px;

  color: #fac521;
}

.web1 {
  position: absolute;
  width: 182px;
  height: 42px;
  left: 1324px;
  top: 20px;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 45px;

  color: white;
}

.isi {
  position: absolute;
  width: 312px;
  height: 88px;
  left: 84px;
  top: 75px;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;

  color: #ffffff;
}

.icon {
  position: absolute;
  width: 303px;
  height: 55px;
  left: 596px;
  top: 80px;
  text-decoration: none;
}

.cap {
  position: absolute;
  width: 50px;
  height: 20px;
  left: 573px;
  top: 560px;
}

.akon:hover {
  color: #456788;
}

.web2 {
  position: absolute;
  width: 182px;
  height: 66px;
  left: 91px;
  top: 32px;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 55px;

  color: #ffffff;
}

.web3 {
  position: absolute;
  width: 182px;
  height: 66px;
  left: 91px;
  top: 70px;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 55px;

  color: #fac521;
}

.home {
  color: white;
  text-decoration: none;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 46px;

  transition: 0.3s;
}

.home:hover {
  color: #456788;
}

.pilih {
  color: white;
  text-decoration: none;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 48px;
  padding-left: 150px;

  transition: 0.3s;
}

.pilih:hover {
  color: #456788;
}

.hasil {
  color: white;
  text-decoration: none;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 48px;
  padding-left: 150px;

  transition: 0.3s;
}

.hasil:hover {
  color: #456788;
}

.logout {
  color: white;
  text-decoration: none;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 48px;
  padding-left: 150px;

  transition: 0.3s;
}

.logout:hover {
  color: #456788;
}

.nav {
  position: absolute;
  width: 903px;
  height: 33px;
  left: 620px;
  top: 61px;
}

.foto {
  position: relative;
  left: -150px;
}

footer {
  position: relative;
  top: 810px;
  width: 1550px;
  height: 200px;
  right: 0px;
  bottom: 2px;

  background: #12273c;
}

.voting {
  position: absolute;
  width: 133px;
  height: 42px;
  left: 144px;
  top: 20px;
  transition: 0.3s;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 45px;
  color: #fac521;
}

.web2:hover {
  color: #fac521;
}

.web3:hover {
  color: white;
}

.icon,
tr,
a {
  font-size: 40px;
  padding-left: 10px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.icon,
tr,
a:hover {
  color: #fac521;
}

.kontak {
  position: absolute;
  width: 200px;
  height: 42px;
  left: 650px;
  top: 20px;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 45px;

  color: #fac521;
}

.web {
  position: absolute;
  width: 182px;
  height: 42px;
  left: 1124px;
  top: 55px;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 45px;

  color: #fac521;
}

.web1 {
  position: absolute;
  width: 182px;
  height: 42px;
  left: 1124px;
  top: 20px;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 45px;

  color: white;
}

.isi {
  position: absolute;
  width: 312px;
  height: 88px;
  left: 84px;
  top: 75px;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;

  color: #ffffff;
}

.icon {
  position: absolute;
  width: 303px;
  height: 55px;
  left: 596px;
  top: 80px;
  text-decoration: none;
}

.cap {
  position: absolute;
  width: 50px;
  height: 20px;
  left: 573px;
  top: 560px;
}

.akon:hover {
  color: #456788;
}

.web2 {
  position: absolute;
  width: 182px;
  height: 66px;
  left: 91px;
  top: 32px;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 55px;

  color: #ffffff;
}

.web3 {
  position: absolute;
  width: 182px;
  height: 66px;
  left: 91px;
  top: 70px;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 55px;

  color: #fac521;
}
