html {
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
  height: 100%;
  margin: auto;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;

  background: #1b2f43;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 2;
  }
}

.container {
  position: relative;
  width: 496px;
  height: 647px;
  left: 472px;
  top: 83px;
}

.judul {
  position: absolute;
  left: 670px;
  right: 45.97%;
  top: 11.35%;
  bottom: 85.56%;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: BOLD;
  font-weight: 800;
  font-size: 37px;
  line-height: 55px;
  /* identical to box height */

  color: #ffffff;
}

.judul2 {
  position: absolute;
  left: 700px;
  right: 48.33%;
  top: 180px;
  bottom: 82.5%;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 37px;

  color: #fac521;
}
.satu {
  position: absolute;
  left: 470px;
  right: 59.58%;
  top: -50px;
  bottom: 75.28%;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 37px;

  color: #fac521;
}
.form-label {
  position: absolute;
  left: 35.62%;
  right: 59.58%;
  top: 300px;
  bottom: 75.28%;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 37px;

  color: #fac521;
}

.form-control:focus {
  background: #142c44;
  color: white;
}

.form-control {
  position: absolute;
  width: 400px;
  left: 35.62%;
  right: 35.83%;
  top: 340px;
  bottom: 70.46%;
  color: white;
  background: #28435c;
  transition: 0.3s;
}

.dua {
  position: absolute;
  left: 470px;
  right: 59.58%;
  top: 50px;
  bottom: 75.28%;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 12px;
  line-height: 37px;

  color: #fac521;
}

.ingat {
  position: absolute;
  width: 138px;
  height: 37px;
  left: 513px;
  top: 440px;
  color: white;
}

.form-check-input:focus {
  background: #28435c;
}

.md {
  width: 187px;
  height: 39px;
  background: #fac521;
  box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.07),
    0px 41.7776px 33.4221px rgba(0, 0, 0, 0.0503198),
    0px 22.3363px 17.869px rgba(0, 0, 0, 0.0417275),
    0px 12.5216px 10.0172px rgba(0, 0, 0, 0.035),
    0px 6.6501px 5.32008px rgba(0, 0, 0, 0.0282725),
    0px 2.76726px 2.21381px rgba(0, 0, 0, 0.0196802);
  border-radius: 30px;
  transition: 0.3s;
  color: black;
}

.buton {
  /* Tombol masuk */

  position: absolute;
  width: 187px;
  height: 41px;
  left: 630px;
  top: 500px;
}

.akon {
  /* Tombol masuk */

  position: absolute;
  width: 187px;
  height: 41px;
  left: 650px;
  top: 550px;
  font-size: 15px;
  color: white;
}

.akon:hover {
  color: #28435c;
}

.gambar {
  /* Group 9 */

  position: absolute;
  width: 919px;
  height: 867px;
  left: 273px;
  top: 15px;
}

footer {
  position: relative;
  top: 900px;
  width: 220px;
  height: 200px;
  right: 0px;
  bottom: 2px;

  background: #12273c;
}
.voting {
  position: absolute;
  width: 133px;
  height: 42px;
  left: 144px;
  top: 20px;
  transition: 0.3s;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 45px;
  color: #fac521;
}

.web2:hover {
  color: #fac521;
}

.web3:hover {
  color: white;
}

.icon,
tr,
a {
  font-size: 40px;
  padding-left: 10px;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.icon,
tr,
a:hover {
  color: #fac521;
}

.kontak {
  position: absolute;
  width: 200px;
  height: 42px;
  left: 650px;
  top: 20px;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 45px;

  color: #fac521;
}

.web {
  position: absolute;
  width: 182px;
  height: 42px;
  left: 1124px;
  top: 55px;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 45px;

  color: #fac521;
}

.web1 {
  position: absolute;
  width: 182px;
  height: 42px;
  left: 1124px;
  top: 20px;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 45px;

  color: white;
}

.isi {
  position: absolute;
  width: 312px;
  height: 88px;
  left: 84px;
  top: 75px;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 22px;

  color: #ffffff;
}

.icon {
  position: absolute;
  width: 303px;
  height: 55px;
  left: 596px;
  top: 80px;
  text-decoration: none;
}

.cap {
  position: absolute;
  width: 50px;
  height: 20px;
  left: 573px;
  top: 560px;
}

.akon:hover {
  color: #456788;
}

.web2 {
  position: absolute;
  width: 182px;
  height: 66px;
  left: 91px;
  top: 32px;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 55px;

  color: #ffffff;
}

.web3 {
  position: absolute;
  width: 182px;
  height: 66px;
  left: 91px;
  top: 70px;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 55px;

  color: #fac521;
}

.home {
  color: white;
  text-decoration: none;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 46px;

  transition: 0.3s;
}

.home:hover {
  color: #456788;
}

.pilih {
  color: white;
  text-decoration: none;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 46px;
  padding-left: 100px;

  transition: 0.3s;
}

.pilih:hover {
  color: #456788;
}

.hasil {
  color: white;
  text-decoration: none;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 46px;
  padding-left: 100px;

  transition: 0.3s;
}

.hasil:hover {
  color: #456788;
}

.logout {
  color: white;
  text-decoration: none;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 46px;
  padding-left: 100px;

  transition: 0.3s;
}

.logout:hover {
  color: #456788;
}

.nav {
  position: absolute;
  width: 903px;
  height: 33px;
  left: 620px;
  top: 61px;
}

.rectangle {
  position: absolute;
  width: 1069px;
  height: 8px;
  left: 132px;
  top: 550px;

  background: #fac521;
  border-radius: 30px;
}

.trunk {
  position: absolute;
  width: 158px;
  height: 10px;
  left: 110px;
  top: 470px;

  background: #fac521;
  border-radius: 30px;
  transform: matrix(0, -1, -1, 0, 0, 0);
}

.bunder1 {
  position: absolute;
  width: 70px;
  height: 70px;
  left: 155px;
  top: 376px;
  border-radius: 50%;

  background: #fac521;
}

.isi1 {
  position: absolute;
  width: 66px;
  height: 81px;
  left: 21px;
  top: -5px;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 79px;

  color: #000000;
}
.isi11 {
  position: absolute;
  width: 66px;
  height: 81px;
  left: 51px;
  top: -5px;

  font-family: "M PLUS Rounded 1c", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 40px;
  line-height: 79px;

  color: #000000;
}

.isi4 {
  position: absolute;
  width: 115px;
  height: 28px;
  left: 1129px;
  top: 110px;
  bottom: 50px;

  font-family: Rounded Mplus 1c;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 25px;

  color: #ffffff;
}

.isis {
  position: relative;
  left: 0px;
}

.bunderan {
  position: absolute;
  width: 649px;
  height: 319px;
  left: 394px;
  top: 181px;
  border-radius: 50%;
  border: 3px solid #d0a827;
  box-sizing: border-box;
}

.bunderan1 {
  position: absolute;
  width: 649px;
  height: 319px;
  left: 394px;
  top: 341px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  box-sizing: border-box;
}

.bunderan1 {
  -webkit-animation: mover 6s infinite alternate;
  animation: mover 6s infinite alternate;
}
.bunderan1 {
  -webkit-animation: mover 6s infinite alternate;
  animation: mover 6s infinite alternate;
}

.bunderan {
  -webkit-animation: mover1 6s infinite alternate;
  animation: mover1 6s infinite alternate;
}
.bunderan {
  -webkit-animation: mover1 6s infinite alternate;
  animation: mover1 6s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-180px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-180px);
  }
}

@-webkit-keyframes mover1 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(180px);
  }
}
@keyframes mover1 {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(180px);
  }
}
